@import url('https://fonts.googleapis.com/css?family=Lobster|Playfair+Display:400,700');


.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: rgba(8, 8, 8, 0.6);
}

.carousel-flex {
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  height: 450px;
}

.carousel-wood-img {
  background-image: url("../img/wood-2.jpg");
}

.item.carousel-wood-img img {
  height: 250px;
  margin: 100px 0;
}

.carousel-img-two {
  background-image: url("../img/restaurant-2.jpg");
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-img-three {
  background-image: url("../img/farm-2.jpg");
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel-caption {
  margin-bottom: 45px;

}
button.btn-warning {
    background-color: #F8512F;
    border-color: #F8512F;
}

button.btn-warnng: hover {
  background-color: #D34326;
  border-color: #D34326;

}

/*Our Story*/
.lobster-text {
    font-family: 'Lobster', cursive;
    color: #F8512F;
    font-size: 100px;
    text-shadow: 1px 1px 4px rgba(51, 51, 51, .6);
}
.the-theme {
    font-family: 'Lato', sans-serif;
    margin-top: 0;
    color: #333;
    /*font-size: 50px;*/

}
.lorem {
    font-family: 'Plafair Display', serif;
    font-size: 15em;
    position: absolute;
    z-index: 0;
    color: rgba(51, 51, 51, .4);
}

  #our-story{
    margin-top: 5%;
    margin-bottom: 5%;
  }
/*Review*/
#review {
    background-image: url('../img/food_review.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 450px;
}
.flex {
    display: flex;
    align-items: center;
    height: 450px
}
.fresno-bee {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.fresno-bee h1 {
    font-family: 'Lobster', cursive;
    color: #F8512F;
    text-shadow: 1px 1px 2px #333;
    font-size: 60px;

}

.fresno-bee p {
    color: #fff;
    font-size: 26px;
    font-family: 'Lato', sans-serif;
    text shadow: 1px 1px 2px #333;
    font-weight: 300;
}
